/* Added for Terra UI components */
#root {
  height: 100%;
}

.content-wrapper{
  background-color: #f4f4f4;
}

.container-50 {
  width:50%;
}

.page-body-wrapper {
  background-color: #f4f4f4;
  padding-top:20px;
  height:100%;
}

.container-25 {
  width:25%;
}

.container-75 {
  width:75%;
}

.container-70 {
  width:70%;
}

article{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  margin-bottom:30px;
}